<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>inProduction</key>
<false/>
<key>developmentAppKey</key>
<string>1b-4A-q1ReOlGuxToT-0JQ</string>
<key>developmentAppSecret</key>
<string>JEMFFsYOTG-8mvGIt57Kyg</string>
<key>productionAppKey</key>
<string>RSGrm3XDRKiytow5o0mUfw</string>
<key>productionAppSecret</key>
<string>ySSeaELfSDucU3dpZtg2nA</string>
</dict>
</plist>
